<html>
  <head></head>
  <body>
    <h1>Add an album</h1>
    <form action="/albums" method="POST">
        <label>Album name:</label>
        <input type="text" name="title">
        <label>Release year:</label>
        <input type="text" name="release_year">
        <label>Artist id:</label>
        <input type="text" name="artist">

        <input type="submit" value="Submit the form">
    </form>
  </body>
</html>
