<html>
  <head></head>
  <body>
    <h1>Add an artist</h1>
    <form action="/artists" method="POST">
        <label>Artist name:</label>
        <input type="text" name="name">
        <label>Genre:</label>
        <input type="text" name="genre">

        <input type="submit" value="Submit the form">
    </form>
  </body>
</html>
