<html>
  <head></head>
  <body>
    <h1>Album added!</h1>
        <p>You added a new album with the following information:</p><
        <p>Title: <%= @album.title%></p>
        <p>Release year: <%= @album.release_year%></p>
        <p>Artist id: <%= @album.artist_id%></p>
  </body>
</html>
